<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.zhouhaixian.bookingapi.mapper.ConfigMapper">
    <sql id="configColumns">
        config_key, config_value
    </sql>
    
    <resultMap id="configResultMap" type="Configuration">
        <id property="key" column="config_key" />
        <result property="value" column="config_value" />
    </resultMap>

    <insert id="insertConfig" keyProperty="config_key">
        insert into config (<include refid="configColumns" />)
        values
        <foreach collection="configurations" item="config" index="index" separator=",">
            (#{config.key}, #{config.value})
        </foreach>
    </insert>

    <update id="updateConfig">
        <foreach collection="configurations" item="config" index="index" separator=";">
            <if test="config.value != null">
                update config
                set config_value = #{config.value}
                where config_key = #{config.key}
            </if>
        </foreach>
    </update>

    <select id="findAll" resultMap="configResultMap">
        select <include refid="configColumns" />
        from config
    </select>
</mapper>